@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-mi-fuente {
    font-family: "Roboto", sans-serif;
}

.orbitron-mi-fuente {
    font-family: "Orbitron", sans-serif;
}

.btn-custom-verde {
    background-color: #39FF14 !important;
    border-color: #39FF14 !important;
}

.mi-custom-color-verde {
    color:#39FF14 !important;
}

.custom-border-color {
    border-color: #39FF14 !important;
}

.btn-custom-azul {
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
}

.custom-bg-color-electric-blue {
  background-color: #00F0FF !important; /* Example custom color */
}

.seccion-top-detalles {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/assets/imgs/bg/mateo-nCU4yq5xDEQ-unsplash.jpg') no-repeat center center;
    background-size: cover;
    padding: 3rem 0;
    margin-bottom: 3rem;
}